/* site */
body {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: left;
}

.main {
    justify-content: space-between;
}

/* left-sidebar title*/
.sidebar-brand-text {
    font-size: x-large;
}

/* left-side sidebar */
.sidebar-drawer {
    /* width: 30%; */
    display: block;
}

.sidebar-sticky {
    width: 100%;
    width: fit-content;
}

.sidebar-container {
    width: 100%;
    margin: 0;
}

/* right-side sidebar: */
/* .toc-drawer {
    align-items: flex-end;
    font-size: large;
    width: 30%;
} */

/* center of the site */
.content {
    /* width: 60%; */
    overflow-wrap: anywhere;
    padding-right: 2em;
    /* width: fit-content; */
}

/* footer, author, copyright and @  */
.left-details {
    margin: auto;
}

/*  footer, author, copyright  */
.copyright {
    font-weight: bold;
}

/*  article, table properties  */
article .align-center,
article .align-default {
    margin-left: unset;
    margin-right: unset;
    text-align: left;
}