name: continuous integration (ci)

on: [pull_request]

# To successfully find the files that are required for testing:
env:
  TEST_WORKSPACE: $GITHUB_WORKSPACE

jobs:
  ci:
    # Set up operating system
    runs-on: ubuntu-latest

    # Define job steps
    steps:
      - name: Set up Python 3.10.2
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.2

      - name: Check-out repository
        uses: actions/checkout@v2

      - name: Install poetry
        uses: snok/install-poetry@v1

      - name: Install package
        run: poetry install

      - name: Run pylama to check src directory
        run: poetry run pylama --async src/

      - name: Run pylama on the tests directory
        run: poetry run pylama --async tests/

      - name: Test with pytest
        run: poetry run pytest -m minor --ignore-glob='test_*.py' tests/test_cases/ --cov=sc2egset_dataset --cov-report term-missing --cov=xml

      # - name: Use Codecov to track coverage
      #   uses: codecov/codecov-action@v2
      #   with:
      #     files: ./coverage.xml # coverage report

      - name: Build documentation
        run: poetry run make html --directory docs/